*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
images/copied_from_nb
.DS_Store
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
