<div class="row">
    <div class="column">
      <a href="https://twitter.com/mcbwrs"><img src="{{ site.baseurl }}/images/icons8-twitter-48.png" alt="Matt on Twitter"></a> 
    </div>
    <div class="column">
      <a href="https://www.linkedin.com/in/matt-bowers/"><img src="{{ site.baseurl }}/images/icons8-linkedin-48.png" alt="Matt on Linkedin"></a> 
    </div>
    <div class="column">
      <a href="http://www.github.com/mcb00"><img src="{{ site.baseurl }}/images/icons8-github-48.png" alt="Matt on GitHub"></a>
    </div>
  </div>